.number {
    font-size: 60px;
    color:#279af6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-weight: lighter;
} 

.headingas {
    color:#868d92;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-size: 40px;
    font-weight: lighter;
}

h1 {
    margin: 0%;
}
h2 {
    margin: 0%;
}


    /* Mama padare
   
    color: #279af6;
    background-color: white;
    padding: 16px 40px;
    margin-top: 20px;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    border-color: #279af6!important;
    border-radius: 50px;
    border-width: 3px;
    text-decoration: none;

  */

  